body {
  background-color: #050709;
  color: white;
  font-family: Verdana;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTcyeWM2OGU5bHducHZpemNyMHp5ZmE1YXh0YzRuZjVvcTFjODdkaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FlodpfQUBSp20/giphy.gif);
  background-repeat: repeat;
  background-position: center;
  background-position:top;
}

.t1{
  font-family: "Coral Pixels", serif;
  font-size: 300%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.t2{
  font-family: "Jacquard 24";
  font-size: 200%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.t3{
  font-family: "Jacquard 24";
  font-size: 150%;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.p1{
  font-family: "VT323", monospace;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}


#blockContainer{
  display : flex;
  flex-flow: column;
}

#blockA{
  order:1;
}

#blockB{
  order:2;
}

#blockC{
  order:3;
}

.container{
  display: flex;
  flex-direction: column;
  color: black;
  opacity: 0.3;
}
